.students-component {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.students-table {
  background-color: white;
  border-collapse: collapse;

  tr, td, th {
    border: 1px solid #98bf21;
    padding: 10px 27px 10px 7px;
    text-align: left;
  }

  th {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #A7C942;
    color: #FFFFFF;
  }
}
